@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Angular Form";
}

<h1>Angular Form</h1>

<div ng-controller="formcontroller">
    <form novalidate>
        @Html.AntiForgeryToken()
        <input type="email" ng-model="user.email" placeholder="Enter Email" />
        <input type="password" ng-model="user.password" placeholder="Password" />
        <input type="password" ng-model="user.passwordconf" placeholder="Confim Password" />
        <button ng-click="formSubmit(user)">Submit</button>
    </form>
</div>
