@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "HTML Form";
}

<h1>HTML Form</h1>

<form method="post" action="/Basics/Index">
    @Html.AntiForgeryToken()
    <input type="email" name="email" placeholder="Enter Email" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="passwordconf" placeholder="Confim Password" />
    <input type="submit" value="Submit">
</form>
