
@{
    ViewBag.Title = "HTML (Index)";
}

<h2>HTML</h2>
<form method="post" action="/Basics/Index">
    @Html.AntiForgeryToken()
    <input type="text" name="email" />
    <input type="password" name="password"  />
    <input type="password" name="password-conf" />
    <button type="submit">Submit</button>
</form>

<p>Name: @ViewBag.formEmail, Pass: @ViewBag.formPassword, Passconf: @ViewBag.formPasswordConf</p>

